################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Real Time Quantized Object Detection for Resource Constrained Edge Devices/FileContentIndex
